

table{
    border: 1px solid black;
    width: 350px;
}

caption{
    text-align: center;
    caption-side: bottom;
    padding: 10px;
}

th,td{
    border: 0.5px solid black;
    text-align: center;
    /* white-space: pre; */
}