* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    display: grid;
}

header{
    display: flex;
    flex-direction: column;
    background-color: blanchedalmond;
}

nav {
    background-color: rgb(165, 165, 220);
    padding: 1px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: medium;
    height: 50px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
}

nav a:hover {
    background-color: black;
}

header h1{
    font-size: larger;
    text-align: left;
    padding: 10px;
    height: 90px;
}

main{
    display: flex;
    align-items: center;
}

main h2{
    flex: 2;
    background-color: rgb(206, 206, 28);
    height: 500px;
}

main aside{
    flex: 1;
    background-color: rgb(16, 200, 200);
    height: 500px;
}

footer{
    text-align: center;  
    background-color: antiquewhite;
    height: 90px;
}