* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: 100;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

header{
    height: auto;
}

nav {
    background-color: blue;
    color: white;
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: large;
    height: 40px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
}

nav a:hover {
    background-color: black;
}

h1 {
    color: black;
    text-align: center;
}

main {
    width: 98%;
    height: 100%;
    margin: 30px;
    grid-column: 4/5;
    font-size: large;
}

div{
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    gap: 60px;
    width: 90%;
}

footer {
    margin-top: 20px;
    text-align: center;
    background-color: darkblue;
    color: white;
    font-size: larger;
}

#course-title {
    display: block;
    text-align: center;
    font-size: 30px;
    background-color: darkblue;
    height: 80px;
    color: white;
}

#myself {
    width: 150px;
    height: auto;
    border: 1px solid black;
    margin: 2px;
    padding: 0px;
    box-shadow: 0 0 30px gray;
    float: right;
}

#temple{
    width: 150px;
    height: auto;
    float: left;
    margin: 5px;
}

.card {
    border: 1px solid black;
    color: black;
    font-size: larger;
    border-radius: 5px;
    height: 460px;
}

.card p{
    padding: 10px;
    margin: 10px;
}

.card h2{
    background-color: darkblue;
    color: white;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.card h3{
    text-align: center;
    border-bottom: 1px solid;
    padding-bottom: 10px;
    margin-top: 60px;
}

.card ul{
    font-size: large;
    list-style-position: inside;
    margin-top: 80px;
    margin-left: 10px;
}
