*{
    margin: 2px;
    padding: 2px;
}

body{
    font-size: large;
}
    
.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-weight: 100;
  font-style: normal;
}

header{
    display: flex;
    background-color: purple;
    padding: 6px;
    justify-content: space-around;
    font-size: large;
    color: white;
}

header p{
    flex: 2;
    font-size: 30px;
    color: white;
}

nav{
    display: flex;
    flex: 1;
    color: white;
}

nav a {
    color: white;
    display: block;
    padding: 10px;
    text-decoration: none;
}

nav a:hover {
    background-color: rgb(245, 199, 199);
}

main{
    max-width: 95%;
    margin: 0 auto;
    text-align: center;
}

footer {
    margin-top: 20px;
    border-top: 1px solid lightskyblue;
    text-align: center;
    background-color: purple;
    color: whitesmoke;
}

#temples{
    gap: 1.5rem;
    padding: 1rem;
}

.temple-card{
    background-color: aliceblue;
    padding: 1rem;
    border-radius: 12px;
}

#temples img {
  width: 100%;
  max-width: 400px;   
  height: 250px;      
  object-fit: cover;
  box-shadow: 0 5px 12px black;
}


@media(min-width: 740px){
    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    nav{
        display: flex;
        flex: 1;
        color: white;
        justify-content: flex-end;
        flex-direction: row;
    }

    nav a{
        flex: 1 1 100%;
        padding: 10px;
    }

    header p{
    flex: 2;
    }


    main div{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}