* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
  --primary: rgb(240, 248, 255);
  --secondary: rgb(137, 4, 137);
  --accent: rgb(59, 18, 5);
  --neutral: rgb(0, 0, 0);
  --plain: rgb(255, 255, 255);
}

body {
  font-family: "EB Garamond", serif;
  font-style: normal;
  color: var(--neutral);
}

header, footer {
  background-color: var(--accent);
  color: var(--primary);
  padding: 1rem;
  text-align: center;
}


h1 {
    font-size: 40px;
}

#weather h2::after{
    content: "⛅";
    display: none;
}

#weather img{
    width: 50px;
    display: inline-block;
}

#hero {
  background-image: url("../images/cjc.webp");
  background-size: cover;         
  background-position: center;    
  background-repeat: no-repeat;
  height: 70vh; 
  width: 100vmax;                 
  display: flex;                 
  justify-content: center;
  align-items: center;
  color: var(--plain);
  text-shadow: 2px 2px 8px var(--neutral); 
  position: relative;
}

.overlay-content {
  background-color: var(--plain);
  color: var(--neutral);
  padding: 1rem;
  margin-top: 1rem;
  width: 100%;
}

@media (min-width: 800px){
    main{
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 1rem;
    }

    #weather h2::after{
        display: inline;
    }

    #weather img{
        display: none;
    }

    #hero {
        background-image: url("../images/cjc.webp");
        height: 100vh; 
        display: flex;
        flex-direction: column;
    }

    .overlay-content {
        position: absolute;
        bottom: 2rem;    
        right: 2rem;     
        background-color: var(--plain); 
        color: var(--neutral);
        padding: 1.5rem;
        border-radius: 12px;
        max-width: 350px;
    }

    .overlay-content section {
        margin-bottom: 1rem;
    }
}