*{
    margin: auto;
    padding: auto;
}

body{
    font-size: large;
}
    
.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

header{
    display: flex;
    background-color: purple;
    padding: 6px;
    justify-content: space-around;
    font-size: large;
}

header p{
    flex: 2;
    font-size: 30px;
    color: white;
}

nav{
    display: flex;
    flex: 1;
}

nav a {
    color: white;
    display: block;
    padding: 10px;
    text-decoration: none;
}

nav a:hover {
    background-color: black;
}

main{
    max-width: 95%;
    margin: 0 auto;
    text-align: center;
}

main figure{
    display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px));
	grid-gap: 25px;
	place-items: center;
}

footer {
    margin-top: 20px;
    border-top: 1px solid lightskyblue;
    text-align: center;
    background-color: purple;
    color: whitesmoke;
}