*{
    margin: 2px;
    padding: 2px;
}

body{
    font-size: large;
}
    
.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-weight: 100;
  font-style: normal;
}

header{
    display: flex;
    background-color: purple;
    padding: 6px;
    justify-content: space-around;
    font-size: large;
    color: white;
}

header p{
    flex: 2;
    font-size: 30px;
    color: white;
}

nav{
    display: flex;
    flex: 1;
    color: white;
}

nav a {
    color: white;
    display: block;
    padding: 10px;
    text-decoration: none;
}

nav a:hover {
    background-color: rgb(245, 199, 199);
}

main{
    max-width: 95%;
    margin: 0 auto;
    text-align: center;
}

main figure{
    display: grid;
	grid-gap: 25px;
	place-items: center;
}

img{
    width: 300px;
    height: 200px;
}

footer {
    margin-top: 20px;
    border-top: 1px solid lightskyblue;
    text-align: center;
    background-color: purple;
    color: whitesmoke;
}