@media(min-width: 740px){
    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    nav{
        justify-content: flex-end;
        flex-direction: row;
    }

    nav a{
        flex: 1 1 100%;
        padding: 10px;
    }

    header p{
    flex: 2;
    }


    main div{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}