*{
    font-family: 'Roboto',sans-serif;
}

header, main, footer{
    max-width: 640px;
    text-align: center;
    margin: 1rem, auto;
    border: 1px solid black;
    padding: 1rem;
    background-color: rgb(39, 39, 179);
}

main{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

section{
    padding: 1rem;
    background-color: rgb(196, 247, 247);
}