*{
    font-family: 'Roboto',sans-serif;
}

header, main, footer{
    max-width: 640px;
    text-align: center;
    margin: 1rem, auto;
    border: 1px solid #f524ac;
    padding: 1rem;
    background-color: rgb(216, 8, 235);
}

main{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

section{
    padding: 1rem;
    background-color: azure;
}